@font-face {
    font-family: "gmedium";
    src: url(/style/fonts/Gilroy-Medium.OTF);
}

@font-face {
    font-family: "gregular";
    src: url(/style/fonts/Gilroy-Regular.OTF);
}


@font-face {
    font-family: "roboto";
    src: url(/style/fonts/Roboto-Regular.OTF);
}