@import "fonts";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232323;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
}

div.content {
    margin: 30vh auto;
    width: 50%;
    text-align: center;

    img {
        max-width: 150px;
    }

    .loading {
        margin: auto;

        svg {
            max-width: 160px;
            max-height: 160px;
        }
    }

    h3.working {
        margin-top: 32px;
        font-family: gmedium;
        font-size: 32px;
        color: #B4B4B4;
    }

    h4.back {
        margin-top: 15px;
        font-family: roboto;
        font-size: 18px;
        color: #5A5A5A;
    }

    div.socials {
        margin-top: 42px;
        color: #16B8F3;

        a {
            font-size: 16px;
            font-family: roboto;
            color: #16B8F3;
        }

        span {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}